$yellow: #ffea37;
$yellow-light: lighten($yellow, 10%);
$red: #dd4b3e;
$red-light: lighten($red, 10%);
$green: #3edd4b;
$green-light: lighten($green, 10%);
$blue: #4b3edd;
$blue-light: lighten($blue, 10%);

.wrapper{
  bottom: 5vh;
  left: 0;
  position: fixed;
  right: 0;
}

.wrapper--inactive{
  pointer-events: none;
}

.wrapper--inactive .button{
  opacity: .25;
}

.button{
  border-radius: 20vw 20vw 3px 3px;
  color: transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  margin: 5px;
  height: 20vw;
  width: 20vw;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

  @media (min-width: 768px){
    height: 10vw;
    width: 10vw;
  }
}

.button:focus{
  outline: none;
}

.yellow--active,
.red--active,
.blue--active,
.green--active{
  opacity: 1 !important;
}

.yellow{
  background-color: $yellow;
}

.yellow--active{
  background-color: $yellow-light;
  box-shadow: 0 0 5px 5px $yellow-light;
}

.red{
  background-color: $red;
}

.red--active{
  background-color: $red-light;
  box-shadow: 0 0 5px 5px $red-light;
}

.blue{
  background-color: $blue;
}

.blue--active{
  background-color: $blue-light;
  box-shadow: 0 0 5px 5px $blue-light;
}

.green{
  background-color: $green;
}

.green--active{
  background-color: $green-light;
  box-shadow: 0 0 5px 5px $green-light;
}

.wrapper{
  text-align: center;
}
